/* container */

.song {
  border: 1px solid black;

  margin: 0px;
  padding: 5px;
}

/* components */

.song {
  .title {
    font-size: 100%;
  }
  
  .title {
    margin: 0px;
    padding: 0px;
  }
}

.song {
  .band {
    color: grey;
  }
  
  .band {
    margin-left: 10px;
    padding: 0px;
  }
}
