#display {
  border: 1px solid black;
  color: white;
  background-color: darkgrey;
  
  margin: 0px;
  padding: 5px;
}

#display {
  display: flex;
}

#display {
  #key {
    font-size: 16px;
  }
  
  #key {
    border: 1px solid grey;
    border-radius: 4px;
    width: 36px;

    padding: 0px 2px;
  }

  #key {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
