/* container */

#display {
  border: 1px solid black;
  background-color: lightgrey;
  
  margin: 0px;
  padding: 5px;
}

#display {
  display: flex;
}

/* components */

#display {
  #key {
    font-size: 16px;
  }
  
  #key {
    border: 1px solid grey;
    border-radius: 4px;
    width: 36px;

    padding: 0px 2px;
  }

  #key {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#display {
  #transpose_up {
    margin: 0px;
    padding: 10px 5px;
  }

  #transpose_down {
    margin: 0px;
    padding: 10px 5px;
  }
}
