#display {
  /* height: 20px; */
  
  margin: 0px;
  padding: 5px;
  
  border: 1px solid black;
  color: white;
  background-color: darkgrey;
}

#display {
  display: flex;
}

#display select {
  margin: 0px 5px;
}

#display div {
  font-size: 16px;
}

#display {
  #key {
    width: fit-content;
  }
}
