#settings {
  margin: 0px;
  padding: 5px;
  
  border: 1px solid black;
}

#settings {
  display: flex;
  justify-content: flex-end;
}

#settings {
  #autoscroll {
    margin: 0px;
    padding: 10px 5px;
  }
}

#settings {
  select {
    margin: 0px;
    padding: 5px;
  }
}

#settings {
  #transposer {
    margin: 0px 5px;
  }
}

#settings {
  #transposer {
    #transpose_up {
      margin: 0px;
      padding: 10px 5px;
    }

    #transpose_down {
      margin: 0px;
      padding: 10px 5px;
    }
  }
}
