/* container */

#settings {
  border: 1px solid black;
  background-color: lightgrey;
  
  margin: 0px;
  padding: 5px 0px;
}

#settings {
  display: flex;
}

/* components */

/* key-global */

#settings {
  #key-global {
    font-size: 16px;
    background: gold;
  }
  
  #key-global {
    border: 1px solid grey;
    border-radius: 4px;
    width: 36px;

    margin: 0px  0px  0px 5px;
    padding: 0px 2px;
  }

  #key-global {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #key-global.original {
    background: lightgreen;
  }

  #key-global.transposed {
    background: coral;
  }
}

/* key-local */

#settings {
  #key-local {
    font-size: 16px;
    background: gold;
  }
  
  #key-local {
    border: 1px solid grey;
    border-radius: 4px;
    width: 36px;

    margin: 0px  0px  0px 5px;
    padding: 0px 2px;
  }

  #key-local {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #key-local.original {
    background: lightgreen;
  }

  #key-local.transposed {
    background: coral;
  }

  #key-local {
    margin-left: 40px;
  }
}

/* buttons */

#settings {
  button {
    font-size: 20px;
    
    margin: 0px  0px  0px 5px;
    padding: 5px;
  }
}
