/* container */

/* components */

#text {
  .mark, .part {
    border: 2px solid black;
    border-radius: 4px;
    
    padding: 2px;
    margin: 4px 2px;
  }
  
  .mark {
    font-weight: bold;
    width: fit-content;
  }

  .Introduction, .Intro, .Break, .Interlude, .Outro {
    border-color: blue;
  }

  .Verse {
    border-color: green;
  }

  .Pre-Chorus, .Post-Chorus {
    border-color: orange;
  }

  .Chorus {
    border-color: red;
  }

  .Bridge {
    border-color: purple;
  }

  .Solo {
    border-color: violet;
  }

  .signature, .chords {
    display: flex;
  }
  
  .time, .key, .chords div {
    border: 1px solid black;
    border-radius: 4px;
    width: fit-content;

    padding: 0px 2px;
    margin: 2px;
  }

  .time, .key {
    font-weight: bold;
    background: gold;
  }
  
  .chords div:not(.time, .key) {
    color: grey;
    border-color: grey;
  }
  
  .text {
    padding: 0px 2px;
    margin: 0px 0px;
  }
}
