/* container */

#tuning {
  border: 1px solid black;
  background-color: lightgrey;
  
  margin: 0px;
  padding: 5px;
}

/* components */

#tuning {
  .guitar {
    /* display: block; */
  }
  
  .bass-guitar {
    /* display: none; */
  }

  .standard {
    color: green;
  }

  .non-standard {
    color: red;
  }
}

#tuning {
  .capo {
    color: red;
  }
}
